.fa{
    color: white;
     font-size: 50px;
}
body{
    background-color: #16202b;
}
.login-form{
    width: 500px;
    margin: 0 auto;
}
.form-group input{
    background-color: #1a334e;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.btn-login{
    border:0;
    border-radius: 25px;
    margin-bottom: 20px;
}
a{
padding-top: 20px;
}
h4{
    margin-top: 20px;
}